.woocommerce table.form-table .field-dimensions input[type="number"] {
	width: 90px;
	vertical-align: middle;
}
.woocommerce table.form-table .field-dimensions span {
	vertical-align: middle;
}

.woocommerce table.form-table .omniva-debugview th,
.woocommerce table.form-table .omniva-debugview td {
	padding-top: 0;
}
.woocommerce table.form-table .omniva-debugview td .title {
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}