.woocommerce div.omniva-title {
    position: relative;
}
.woocommerce div.omniva-title .logo {
    position: absolute;
    top: 0;
    right: 0;
}
.woocommerce table.omniva-settings .section_title {
  padding-left: 0;
}
.woocommerce table.omniva-settings .section_title hr.have_title {
  margin-bottom: 0;
}
.woocommerce table.omniva-settings .section_title span {
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
.woocommerce table.omniva-settings .omniva-fake-btn {
  display: inline-block;
  padding: 4px 7px;
  border: 1px solid #9d9da9;
  cursor: pointer;
  background: #e9e9ed;
  color: #4a4a4b;
  position: relative;
}
.woocommerce table.omniva-settings .omniva-fake-btn:hover {
  background-color: #c6c6c6;
}
.woocommerce table.omniva-settings .omniva-fake-btn.disabled {
  pointer-events: none;
}
.woocommerce table.omniva-settings .field-dimensions input[type="number"] {
	width: 90px;
	vertical-align: middle;
}
.woocommerce table.omniva-settings .field-dimensions span {
	vertical-align: middle;
}

.woocommerce table.omniva-settings .omniva-debugview th,
.woocommerce table.omniva-settings .omniva-debugview td {
	padding-top: 0;
}
.woocommerce table.omniva-settings .omniva-debugview td .title {
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}
.woocommerce table.omniva-settings .omniva-debugview td .debug-row .date {
  cursor: pointer;
  color: #3b80b9;
}
.woocommerce table.omniva-settings .omniva-debugview td .debug-row .date:hover,
.woocommerce table.omniva-settings .omniva-debugview td .debug-row .date:focus {
  text-decoration: underline;
}
.woocommerce table.omniva-settings .omniva-debugview td .debug-row .date.active {
  color: #008000;
}

.woocommerce table.omniva-settings .row-prices > td {
  padding: 0;
}
.woocommerce table.omniva-settings .prices_box {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px #666;
  margin-bottom: 10px;
}
.woocommerce table.omniva-settings .prices_box .pb-lang {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.woocommerce table.omniva-settings .prices_box .pb-lang img {
  vertical-align: middle;
  width: 20px;
}
.woocommerce table.omniva-settings .prices_box .pb-lang span {
  vertical-align: middle;
  font-weight: 600;
}
.woocommerce table.omniva-settings .prices_box .pb-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce table.omniva-settings .prices_box .block-prices {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 48%;
  position: relative;
  transition: box-shadow 0.5s ease;
  margin-bottom: 8px;
}
.woocommerce table.omniva-settings .prices_box .block-prices:hover {
  box-shadow: 0px 0px 2px 1px #2196f3;
}
.woocommerce table.omniva-settings .prices_box .disabled:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #666 inset;
  z-index: 1;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-title {
  margin-bottom: 10px;
  font-weight: 600;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices {
  position: relative;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices > div {
  margin-bottom: 5px;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices label {
  vertical-align: middle;
  width: 24%;
  display: inline-block;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices input[type="number"] {
  vertical-align: middle;
  width: 75%;
  display: inline-block;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices select {
  vertical-align: middle;
  width: 75%;
  max-width: 75%;
  display: inline-block;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-prices .price_free {
  position: relative;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table table {
  display: inline-table;
  width: 75%;
  vertical-align: top;
  border-collapse: collapse;
  transition: all 0.5s ease;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table table:hover {
  box-shadow: 0 0 0 1px #2271b1;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table th,
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #8c8f94;
  border-collapse: collapse;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table table:hover th,
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table table:hover td {
  border-color: #2271b1;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table .column-value input {
  max-width: 100px;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table .column-price {
  width: 30%;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table .column-actions {
  width: 10%;
}
.woocommerce table.omniva-settings .prices_box .block-prices .prices-table .description,
.woocommerce table.omniva-settings .prices_box .block-prices .prices-coupon .description {
  width: 75%;
  margin: 3px 0 10px 25%;
  color: #aeaeae;
  line-height: 16px;
  font-size: 14px;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-other {
  position: relative;
}
.woocommerce table.omniva-settings .prices_box .block-prices .sec-other > div {
  margin-bottom: 5px;
}
.woocommerce table.omniva-settings .prices_box .block-prices .other-description label {
  display: inline-block;
  width: 24%;
}
.woocommerce table.omniva-settings .prices_box .block-prices .other-description textarea {
  display: inline-block;
  width: 75%;
}
.woocommerce table.omniva-settings .prices_box .switcher {
  float: right;
  margin-top: -2px;
}
.woocommerce table.omniva-settings .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.woocommerce table.omniva-settings .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.woocommerce table.omniva-settings .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.woocommerce table.omniva-settings .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.woocommerce table.omniva-settings input:checked + .slider {
  background-color: #2196F3;
}
.woocommerce table.omniva-settings input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.woocommerce table.omniva-settings input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.woocommerce table.omniva-settings .slider.round {
  border-radius: 24px;
}
.woocommerce table.omniva-settings .slider.round:before {
  border-radius: 50%;
}
.woocommerce table.omniva-settings .field-custom_label table,
.woocommerce table.omniva-settings .field-position table {
  width: 100%;
}
.woocommerce table.omniva-settings .field-custom_label table th,
.woocommerce table.omniva-settings .field-custom_label table td {
  padding: 0;
  width: 33%;
}
.woocommerce table.omniva-settings .field-custom_label table input[type="text"],
.woocommerce table.omniva-settings .field-position table input[type="number"] {
  width: 95%;
}
.woocommerce table.omniva-settings .field-position table th,
.woocommerce table.omniva-settings .field-position table td {
  padding: 0;
  width: 20%;
}
@media only screen and (max-width: 1023px) {
    .woocommerce div.omniva-title .logo {
        display: none;
    }
}
