#order_data .order_data_column .form-field-wide.omnivalt-dimmension label {
    display: block;
}
#order_data .order_data_column .form-field-wide.omnivalt-dimmension input {
    width: 85px;
    max-width: 25%;
    display: inline;
}
#order_data .order_data_column .form-field-wide.omnivalt-additional_service input[type="checkbox"] {
    width: unset;
}
#order_data .order_data_column .form-field-wide.omnivalt-additional_service input[type="checkbox"] + label {
    cursor: pointer;
}
